{{#if prev}}
  <div class="pagination-prev">
    <span class="control inline">{</span>
    <a href="{{page_url prev}}" data-toggle="tooltip" data-placement="top" title="Newer posts">...</a>
    <span class="control inline">}</span><span class="control inline">,</span>
  </div>
{{/if}}

{{#if next}}
  <div class="pagination-next">
    <span class="control inline">{</span>
    <a href="{{page_url next}}" data-toggle="tooltip" data-placement="bottom" title="Older posts">...</a>
    <span class="control inline">}</span>
  </div>
{{/if}}
