{{!< default}}

<div>
  <span class="attribute">"name"</span>
  <span class="control inline">:</span>
  <span class="value">"{{@blog.title}}"</span>
  <span class="control inline">,</span>
</div>
<div>
  <span class="attribute">"description"</span>
  <span class="control inline">:</span>
  <span class="value">"{{@blog.description}}"</span>
  <span class="control inline">,</span>
</div>

<div class="indentation-container">
  <span class="attribute">"posts"</span>
  <span class="control inline">:</span>
  <span class="control inline">[</span>
  <div class="row indentation-content">
    <div class="indentation indentation-toggle">
      <div class="indentation-line"></div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      {{> "post"}}
    </div>
  </div>
  <span class="indentation-ellipsis indentation-toggle">...</span>
  <span class="control inline">]</span>
  <span class="control inline">,</span>
</div>

<div class="indentation-container">
  <span class="attribute">"follow_on"</span>
  <span class="control inline">:</span>
  <span class="control inline">[</span>
  <div class="row indentation-content">
    <div class="indentation indentation-toggle">
      <div class="indentation-line"></div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

      <div>
        <span class="value">"<a href="https://twitter.com/2nd_impression" target="_blank">twitter</a>"</span>
        <span class="control inline">,</span>
      </div>

      <div>
        <span class="value">"<a href="https://github.com/secondimpression" target="_blank">github</a>"</span>
        <span class="control inline">,</span>
      </div>

      <div>
        <span class="value">"<a href="{{@blog.url}}/rss/" target="_blank">rss</a>"</span>
      </div>
    </div>
  </div>
  <span class="indentation-ellipsis indentation-toggle">...</span>
  <span class="control inline">]</span>
  <span class="control inline">,</span>
</div>
