{{!< default}}

{{#post}}

<div class="array-item indentation-container">
  <span class="attribute">"page"</span><span class="control inline">:</span>
  <span class="control inline">{</span><div class="row indentation-content">
    <div class="indentation indentation-toggle">
      <div class="indentation-line"></div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

      <!--
      {{#if image}}
      <div>
        <span class="attribute">"cover"</span>
        <span class="control inline">:</span>
        <span class="value">
          <img src="{{image}}" />
        </span>
        <span class="control inline">,</span>
      </div>
      {{/if}}
      -->

      <div>
        <span class="attribute">"title"</span><span class="control inline">:</span>
        <span class="value">"{{title}}"</span><span class="control inline">,</span>
      </div>

      <div class="array-item indentation-container">
        <span class="attribute">"content"</span><span class="control inline">:</span>
        <span class="value">"</span><div class="row indentation-content">
          <div class="indentation indentation-toggle">
            <div class="indentation-line"></div>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            {{content}}
          </div>
        </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="value">"</span><span class="control inline">,</span>
      </div>

    </div>
  </div><span class="indentation-ellipsis indentation-toggle">...</span><span class="control inline">}</span><span class="control inline">,</span>
</div>

{{/post}}
